@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

html {
    font-size: 10px;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;   
}

.Sections {
    width: 1000px;
    height: 667px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.left {
    width: 60%;
    
}
input{
    display: block;
}

.header {
    margin: 2% 7%;
    font-weight: 700;
    font-size: 2.4rem;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title{
    text-align: center;
    color: #000000;
    font-weight: 700;
    font-size: 2rem;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-weight: 400;
    font-size: 1.6rem;
}
.subtitle{
    color: #A8A8A880;
    font-weight: 400;
    font-size: 1rem;
}

span{
    color: #A8A8A880;
}
.button{
    text-align: center;
    margin-top: 25%;
}
button{
    background-color: #27485D;
    color: white;
    width: 40%;
}
.footer{
    color: #C4C4C480;
    text-align: center;
}
.footer>a{
    color: #476D73;
}
.right-section {
    width: 40%;
    height: 100%;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
    color: #FFFFFF;
}
.header_two{
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 1.6rem;
}
.header_two>div{
    margin: 0 5%;    
}
.header_two>div>a{
    color: #FFFFFF;
    text-decoration: none;
}
.quote{
    margin-top: 40%;
    font-weight: 700;
    font-size: 4.8rem;
    margin-left: 10%;
    opacity: 0.8;
}
.name{
    margin-left: 10%;
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFFFFF;
    opacity: 0.8;
}
